#time {
	font-size: 2em;
	float: left;
	background-color: green;
	float: left;
}

#date {
	font-size: 2em;
	float: left;
	background-color: green;
}

#apenom {
	font-size: 2em;
	float: right;
	background-color: green;
}

#logo {
	margin-left: 40em;
	height: 40em;
	width: auto;
}